*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather';
}
.container {
    max-width: 1100px ;
    margin: auto;
}

.navigation {
    background-color: #6998AB;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
}
.nav__home {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}
.nav__home a {
    color: rgb(255, 255, 255);
}
.nav__home a span {
    color: black;
    padding-left: 5px;
    font-size: 26px;
}
.nav__menu {
    display: flex;
}
.nav__menu li {
    padding-right:30px ;
    line-height: 50px;
}
.nav__menu li a {
    font-size: 13px;
}
.menu {
    position: relative;
}

.menu__child,.menu__child2{
    border-radius: 20px;
    border: 1px solid rgb(120, 120, 120);
    position: absolute;
    content: "";
    padding-left: 10px;
    width: 150px;
    visibility: hidden;
    transition: 0.2s linear;
    background-color: #fff;
}
.menu__child {
    top: 150%;
    left: -20px;
    position: absolute;
    z-index: 9;
}
.menu__child li {
    padding: 0;
}
.menu__child li a {
    color: black;
    padding: 10px;
}
.menu:hover .menu__child {
    top: 100%;
    visibility: visible;
}
.Drop2 { position: relative; }
.Drop2 a i{
   padding-left: 40px;
}
.menu__child2 {
    top: 50px;
    right: -110%;
}
.Drop2:hover .menu__child2 {
    top: 0;
    visibility: visible;
}
.bar__menu {
    font-size: 26px;
    color: #FFF;
    display: none;
}
.hero {
    height: 500px;
    background-color: #6998AB;
    padding-top: 75px;
    margin-bottom: 100px;
}
.hero__content {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.title,.row {
    display:block;
}
.row {
    position: relative;
}
.text {
    font-size: 55px;
    color: #FFF;
    margin-bottom: 50px;
    width: 100%;
}
.form {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}
.form__date {
    display: flex;
    justify-content: space-around;
}
.form__select {
    padding: 5px 10px;
    border-radius: 6px;
}
.btn__butTom {
    margin: 20px 0 0 20px;
    padding: 10px;
    background-color: #1A374D;
    color: #FFF;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
}
.btn__checker {
    width: 44px;
    height: 16px;
    cursor: pointer;
}
.lb__check {
    cursor: pointer;
}
.slide__list {
    width: 450px;
    height: 530px;
    border-radius: 200px;
    transform: translateX(130px);
    overflow: hidden;
    box-shadow: 0 25px 50px -10px rgb(26 55 77 / 40%);
}
.list__item {
    width: 100%;
    position: relative;
}
.list__item img {
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: 4s opacity ease;
}
.list__item img.active {
    opacity: 1;
}
.content {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.title {
    font-size: 36px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.content__title p {
    width: 600px;
    display: inline-block;
    margin-bottom: 50px;

}
.title::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 48%;
    width: 50px;
    height: 2px;
    background-color: black;
}
.content__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.item1 {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    flex: 0 0 30%;
}
.item1 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.item2 {
    padding: 0 10px;
    flex: 0 0 33%;
}

.home {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background: rgba(26, 55, 77, 0.05);
    border-radius: 20px;
}
.home2 {
    margin-bottom: 0 !important;
}
.home__icon i {
    font-size: 68px;
    margin-bottom: 30px;
}
.home h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.count__number {
    padding: 30px 0;
}
.count__items {
    display: flex;
}
.count__item {
    flex: 0 0 25%;
    font-weight: bold;
}
.data__number,.caption {
    display:block;
    color: #1A374D;
}
.data__number {
    font-size: 30px;
    margin-bottom: 10px;
}
.view__tour {
    padding: 30px 0;
}
.list__title {
    text-align: center;
}
.media__thumb {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
 .view__tour-lists {
    overflow: hidden;
    padding: 30px 0;
}
.media__text {

    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
}
.view__tour-lists {
    position: relative;

}
.next,.prev {
    position: absolute;
    top: 45%;
    z-index: 3;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    transition: 1s opacity ease;
}
.next {
    right: 0;
}
.view__tour-lists:hover .next {
    opacity: 1;
}.view__tour-lists:hover .prev {
    opacity: 1;
}
.view__tour-list {
    display: flex;
    height: 500px;
}
.view__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 4s opacity ease;
    margin-right: 10px;
    height: 500px;
}
.view__item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    bottom: 0;
    background-color:#1A374D;
    opacity: 0;
    z-index: 2;
    transition: 1s opacity ease;

} 
 .view__item:hover::before {
    opacity: 0.65;
}
.view__item:hover .media__text {
    color: #FFF;
    z-index: 2;
}

.media__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.slick-next,.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 2;
    padding: 10px 20px;
}
.slick-prev { 
    left:0;
}
.slick-next {
    right: 0;
}

.testimonials {
    background-color: #f8f9fa;
    padding: 50px 0;
}
.select__testimonials {
    overflow: hidden;
}
.select__wrap {
    width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    overflow: hidden;
    position: relative;
}
.slide__testimonials {
    width: 100%;
    display: flex;
    position: relative;
    transition: 4s opacity ease;

}
.select__item {
    margin-bottom: 20px;
    padding: 10px 0;
    flex: 1 0 100%;
    transition: 4s opacity ease;
}

.item__img {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: auto;
    display: block;
}
.item__img img {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.item__text {
    color: #1A374D;
    padding: 12px 0;
    text-align: center;
}
.item__text h3 {
    margin-bottom: 10px;
}
.slider__dot {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: auto;
    padding: 10px 0;
}
.slider__dot__item {
    font-size: 30px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #999;
}
.slider__dot__item.active  {
    background-color: blue;
}
/* phần special */
.special {
    padding: 50px 0;
}
.special__text {
    width:640px;
    margin: auto;
    font-size: 14px;
    line-height: 1.5;
}
.special__media {
    display: flex;
}
.media {
    padding: 50px 15px;
}
.media a {
    display: block;
    width: 270px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.media a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media__map {
    margin-bottom: 10px;
    display: block;
}
.media__map i {
    padding: 8px;
    background-color: rgb(222, 220, 220);
    border-radius: 50%;
    font-size: 13px;
}
.city {
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}
.money h3 {
    margin-bottom: 10px ;
    font-weight: 400;
}

.introduce__wrap {
    display: flex;
    justify-content: space-between;
    height: 720px;
    gap: 80px;
}
.intro__img {
    flex: 0 0 50%;
    border-radius: 20px;
    overflow: hidden;
    width: 520px;
    height: 720px;

}
.intro__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro__text {
    position: relative;
    top: 20%;
}
.intro__text h2 {
    font-weight: bold;
    font-size: 26px;
    padding: 12px 0;
    position: relative;
    margin-bottom: 20px;
}
.intro__text h2::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: black;
}
.intro__text p {
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 13px;
}
.list_intro li {
    width: 47%;
    display: inline-block;
    padding: 10px 0 10px 20px;
    list-style-type: circle !important;
}
.btn__buttum a {
    padding: 10px ;
    display:block;
    width: 150px;
    background-color: #1A374D;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

.intro__contact {
    background-color: #1A374D;
    margin: 70px 0;
}
.intro__content {
    color: #FFF;
    text-align: center;
    padding: 50px 0;
}
.intro__content h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
.intro__content p.text {
    font-size: 20px;
    margin-bottom: 30px;
    color: rgb(224, 223, 223);
}
.btn_get a {
    padding: 12px 20px;
    width: 150px;
    background-color: #1A374D;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #FFF;
}
.btn_get a:hover {
    background-color: #fff;
    color: #1A374D;
}
.footer__wrap {
    display: flex;
    gap: 80px;
}
.icon {
    display: flex;
}
.footer__title {
    font-size: 16px;
    padding: 20px 0;
}
.footer__about {
    flex: 0 0 30%;
}
.footer__about p {
    line-height: 1.5;
    color: rgb(133, 132, 132);
    margin-bottom: 15px;
}
.icon li a {
    background-color: #1A374D;
    margin-right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}
.icon li a i {
    position: absolute;
    top: 25%;
    left: 25%;
    color: #FFF;
}
.link__item li {
    padding: 10px 0;
}
.link__item li a {
    color: #1A374D;
}
.link__item li a:hover {
    border-bottom: 1px solid black;
}
.link__item li i {
    margin-right: 10px;
    color: #6998AB;
}
.copyright {
    text-align: center;
    padding: 70px 0;
}
.copyright p {
    font-size: 15px;
}
.menumobi {
    align-items: center;
}
/* lỗi menu con deptop*/
.nav__menu-mobile {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: -110%;
    height: 0;
    z-index: 7;
    background-color: #6998AB;
    transition: 2s all ease;
    text-align: center;
    opacity: 0;
}
.nav__menu-mobile li {
    padding:  20px;
}
.nav__menu-mobile li a:hover{
    border-bottom: 1px solid #FFF;
}
.nav__menu-mobile li a {
    color: #fFF;
}

.mobile__child {
    right: 0% !important;
    transition: .3s all ease;
}

.hand-menu {
    height: 300px;
    transition: 2s all ease;
    opacity: 1;
}
.root {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background-color: rgb(0,0,0,0.2);
    display: none;
    transition: 3s all ease;
  }
.chang__overlay {
    display: block;
} 
.menumobi__child2 {
    display: none;

}
  
.menu__mobi__child1 {
    display: none;
    padding-left: 40px;
    text-align: center;
  }
.changmenu__child {
    display: block;
}













.menumobi__child2,.menumobi__child1 {
    display: none;
}